<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:fragment= "header">
<header>
    <div class="sticky">
      <div class="container"> 
        <!-- Logo -->
        <div class="logo"> <a th:href="@{/}"><span style="color: red; font-size: 30px;">FASHION SHOP</span></a> </div>
        <nav class="navbar ownmenu">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-open-btn" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"><i class="fa fa-navicon"></i></span> </button>
          </div>
          <!-- NAV -->
          <div class="collapse navbar-collapse" id="nav-open-btn">
            <ul class="nav">
              <li class="active"> <a th:href="@{/}">Trang chủ </a> </li>
              <li> <a th:href="@{/products}">Sản phẩm</a> </li>
              <!-- MEGA MENU -->
              <th:block th:unless="${#request.remoteUser}">
	              <li> <a th:href="@{/registered}">Đăng ký </a> </li>
	              <li> <a th:href="@{/login}">Đăng nhập </a> </li>
              </th:block>
              <li> <a th:href="@{/contact}">Liên hệ </a> </li>
            </ul>
          </div>
          
          <!-- Nav Right -->
          <div class="nav-right">
            <ul class="navbar-right">
              
              <!-- USER INFO -->
              <th:block th:if="${#request.remoteUser}">
              <li class="dropdown user-acc"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ><i class="icon-user"></i> </a>
                <ul class="dropdown-menu">
                  <li>
                    <h6>Xin chào [[${customer.fullname}]]!</h6>
                  </li>
                  <li><a th:href="@{/cartItem}">Giỏ hàng</a></li>
                  <li><a th:href="@{/logout}">Đăng xuất</a></li>
                </ul>
              </li>
              </th:block>
              
              <!-- USER BASKET -->
              <li class="dropdown user-basket">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
              	<i class="icon-basket-loaded"></i><small style="background-color: yellow; font-weight: bolder;">
              		<th:block th:if="cartItems != null">
              			([[${totalCartItems}]])
              		</th:block>
              		<th:block th:if="cartItems == null">
              			(0)
              		</th:block>
              	</small>
              </a>
              	
                <ul class="dropdown-menu">
                <th:block th:if="${totalCartItems !=0}">
                  <li th:each="item : ${cartItems}">
                    <div class="media-left">
                      <div class="cart-img">
                      <a href="#">
                      	<img class="media-object img-responsive" th:src="@{'/loadImage?imageName='+${item.product.image}}" alt="">
                      </a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">[[${item.product.name}]]</h6>
                      <span class="price">Giá : [[${#numbers.formatDecimal((item.product.price - (item.product.price * item.product.discount/100)) * item.quantity, 1, 'DEFAULT', 0, 'DEFAULT')}]] VND</span>
                      <span class="qty">Số lượng : [[${item.quantity}]]</span>
                    </div>
                  </li>
                  <li>
                    <h5 class="text-center">Tổng tiền: [[${#numbers.formatDecimal(totalPrice, 1, 'DEFAULT', 0, 'DEFAULT')}]] VND</h5>
                  </li>
                  <li class="margin-0">
                    <div class="row">
                      <div class="col-xs-6"> <a th:href="@{/cartItem}" class="btn">XEM GIỎ HÀNG</a></div>
                      <div class="col-xs-6 "> <a th:href="@{/checkOut}" class="btn">THANH TOÁN</a></div>
                    </div>
                  </li>
                  </th:block>
                  
                  <th:block th:if="${totalCartItems ==0}">
                  	<li>
                        <h5 class="text-center">Chưa có sản phẩm trong giỏ hàng của bạn!</h5>
                    </li>
                  </th:block>
                </ul>
                
              </li>
              
              
              
              <!-- SEARCH BAR -->
              <li  style="margin-left: 100px;">
                <div > 
                    <div  >
                      <form th:action="@{/searchProduct}">
                        <input name="keyword" th:value="${keyword}" style="width: 300px; height: 50px; background-color: rgb(255, 255, 255); color: black;"
                        type="search" placeholder="Nhập từ khóa cần tìm ..."
                        >
                        	<button type="submit"><i class="icon-check"></i></button>
                        </input>
          
                      </form>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
</th:block>
</body>
</html>